<div class="flex justify-center mt-16">
  @if (product) {
  <div class="flex items-center justify-center">
    <div
      class="relative flex w-full max-w-[68rem] flex-row rounded-xl p-4 bg-white bg-clip-border text-gray-700 shadow-2xl"
    >
      <div
        class="relative img m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700"
      >
        <img
          src="{{ product.image }}"
          alt="image"
          class="h-full w-full object-contain"
        />
      </div>
      <div class="p-6">
        <h6
          class="mb-4 block font-sans text-base font-semibold uppercase leading-relaxed tracking-normal text-pink-500 antialiased"
        >
          {{ product.title }}
        </h6>
        <h4
          class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
        >
          Lyft launching cross-platform service this week
        </h4>
        <p
          class="mb-8 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased"
        >
          {{ product.description }}
        </p>

        <p class="text-2xl text-green-700 font-bold">
          Price: ${{ product.price }}
        </p>
        <a class="inline-block" href="#">
          <button
            class="flex select-none items-center mt-5 gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xl font-bold uppercase text-green-500 transition-all hover:bg-green-500/10 active:bg-green-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            Add To Cart
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
              class="h-8 w-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>

  }
</div>
