<nav class="bg-yellow-300 p-2">
  <div class="flex justify-between">
    <div class="flex justify-center self-center w-1/5">
      <a href="/">LOGO</a>
    </div>
    <form
      (ngSubmit)="searchData()"
      class="w-3/5 bg-white flex relative self-center items-center shadow-md"
    >
      <input
        #search
        class="border rounded-sm w-full h-10"
        type="text"
        placeholder="Buscador..."
        (keydown)="suggestions()"
      />
      @for (item of allProducts; track $index) {
      <div
        [ngClass]="suggestion === true ? 'visible' : 'invisible'"
        class="absolute top-10 min-h-24 justify-between left-0 bg-slate-100 z-10 w-full"
      >
        <ul class="flex flex-col h-full">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li class="hover:bg-slate-400">{{ item.title }}</li>
        </ul>
      </div>
      }

      <!-- <span [ngClass]="suggestion === true ? 'visible' : 'invisible'">{{
            item.title
          }}</span> -->
      <button class="border rounded-sm h-10" type="submit">
        <i>search</i>
      </button>
    </form>
    <div routerLink="shoppingCart" class="mr-5 mt-5">
      carrito {{ cartCount }}
    </div>
  </div>
  <ul class="flex justify-center gap-32 pt-2">
    <li><a href="/">Inicio</a></li>
    <li class="relative" (click)="switch()">
      Categories

      <ul class="absolute">
        <li
          [ngClass]="select === true ? 'visible' : 'invisible'"
          [routerLink]="['']"
        >
          All Products
        </li>
        @for (item of categories; track $index) {
        <li
          [ngClass]="select === true ? 'visible' : 'invisible'"
          [routerLink]="['/category/', item]"
        >
          {{ item }}
        </li>
        }
      </ul>
    </li>
    <li><a href="/acerca-de">Acerca de</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
